._1659198207680,
._1659198207680 * {
    box-sizing: border-box;
}
._1659198207680 {
    width: 240.64px;
    height: 51.33px;
    position: relative;
    overflow: hidden;
}
.vector {
    position: absolute;
    left: 188.3px;
    top: 13.23px;
    overflow: visible;
}
.vector2 {
    position: absolute;
    left: 0px;
    top: 8.9px;
    overflow: visible;
}
.vector3 {
    position: absolute;
    left: 16.82px;
    top: 15.47px;
    overflow: visible;
}
.vector4 {
    position: absolute;
    left: 16.82px;
    top: 28.89px;
    overflow: visible;
}
.vector5 {
    position: absolute;
    left: 9.04px;
    top: 23.24px;
    overflow: visible;
}
.vector6 {
    position: absolute;
    left: 22.49px;
    top: 23.24px;
    overflow: visible;
}
.vector7 {
    position: absolute;
    left: 220.25px;
    top: 19.95px;
    overflow: visible;
}
.vector8 {
    position: absolute;
    left: 220.25px;
    top: 34.31px;
    overflow: visible;
}
.vector9 {
    position: absolute;
    left: 227.41px;
    top: 27.13px;
    overflow: visible;
}
.vector10 {
    position: absolute;
    left: 213.01px;
    top: 27.13px;
    overflow: visible;
}
.gamers {
    color: #4651a0;
    text-align: left;
    font: 400 33.06px "Broadway", sans-serif;
    position: absolute;
    left: 51.22px;
    top: 0px;
    width: 148.39px;
}
.your-game-store {
    color: #4651a0;
    text-align: left;
    font: 400 italic 14.56px "DM Sans", sans-serif;
    position: absolute;
    left: 66.65px;
    top: 32.33px;
    width: 110.29px;
}

.combobox,
.combobox * {
    box-sizing: border-box;
}
.combobox {
    background: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    padding: 16.4px 67.6px 16.4px 21.6px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 519px;
    height: 52px;
    max-width: 560px;
    min-height: 52px;
    position: relative;
}
.pseudo {
    padding: 1px 352.8px 0.2px 0px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 470.8px;
    height: 19.2px;
    position: relative;
    overflow: hidden;
}
.vector-stroke {
    border-radius: 0px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.search-our-store {
    color: #444444;
    text-align: left;
    font: 400 14px "Source Sans Pro", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.my_bg_primary{
    background: #4651a0;
    border-style: solid;
    border-color: #1e1e1e;
    border-width: 2.4px 0px 0px 0px;
}

.frame-1000004477,
.frame-1000004477 * {
    box-sizing: border-box;
}
.frame-1000004477 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.link-svg {
    padding: 1.25px 0px 1.25px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.list-margin {
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}
.list-item {
    padding: 30px 0px 34.2px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.link-svg2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.span-total-pro {
    background: #e52e06;
    border-radius: 22px;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    right: -12px;
    bottom: 23px;
}
._3 {
    color: #ffffff;
    text-align: center;
    font: 700 12px/22px "Inter", sans-serif;
    position: absolute;
    left: calc(50% - 3.59px);
    top: 3.2px;
    width: 7.37px;
    height: 15.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-1000004478 {
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.login {
    color: #4651a0;
    text-align: left;
    font: 600 13.95px/31.39px "Source Sans Pro", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.frame-3 {
    background: #4651a0;
    border-radius: 5px;
    padding: 5.81px 24px 5.81px 24px;
    display: flex;
    flex-direction: row;
    gap: 5.81px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 108px;
    height: 52px;
    position: relative;
}
.get-started {
    color: #f1f9ff;
    text-align: left;
    font: 600 13.95px/31.39px "Source Sans Pro", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

